{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Content"/>

<f:section name="Configuration">
    <flux:form id="footerContact" label="Footer Contact" wizardTab="Footer">
        <flux:field.input name="title" label="Title"/>
        <flux:field.input name="addressLineOne" label="Address Line One"/>
        <flux:field.input name="addressLineTwo" label="Address Line Two"/>
        <flux:field.input name="phoneNumber" label="Phone Number"/>
        <flux:field.input name="email" label="Email"/>
    </flux:form>
</f:section>

<f:section name="Preview">
    <h1 style="color: #999999;">Footer Contact</h1>
    <p><b>Title: </b>{title}</p>
    <p><b>Address Line One: </b>{addressLineOne}</p>
    <p><b>Address Line Two: </b>{addressLineTwo}</p>
    <p><b>Phone Number: </b>{phoneNumber}</p>
    <p><b>Email: </b>{email}</p>
</f:section>

<f:section name="Main">
    <div class="col-md-3">
        <h4>{title}</h4>
        <ul class="fh5co-footer-links">
            <li>{addressLineOne}<br> {addressLineTwo}</li>
            <li><a href="tel://1234567920">{phoneNumber}</a></li>
            <li><a href="mailto:{email}">{email}</a></li>
        </ul>
    </div>
</f:section>